.button {
  display: inline-flex;
  padding: 0.75rem; // var should be button-padding
  justify-content: center;
  align-items: center;
  gap: 0.5rem; // var should be button-gap

  &--primary {
    border-radius: 0.5rem; //var should be button radius
    border: 1px solid #1a21f5;
    background: #1a21f5;
    color: #fafbff; // var should be button text colour
  }

  &--secondary {
    background: #fafbff;
    border-radius: 0.5rem; //var should be button radius
    border: 1px solid #1a21f5;
    color: #1a21f5;
  }
}
